# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\10PhD\Experiment\FCN-Fan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
